<!DOCTYPE html>
<html>
<head>
<style>
.container {
  background : yellow;
}

.box {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}

.box-king{
  display : block;
  background : blue;
  position : relative;
  width: 100px;
  height: 100px;
  margin-left : 20px;
  margin-top : 10px;
}
</style>
</head>
<body>
<div class="container">
  <div class="box-king">1123123</div>
  <div class="box">2123123</div>
  <div class="box">3123123</div>
</div>
</body>
</html>
